html {
  background-color: #E2E2F0;
  font-size: 13pt;
}
body {
  width: 560px;
  margin: 0 auto;
  padding: 0 6em 150px;
  background-color: #edeef3;
  font-family: "livory", serif;
}

h3 {
  font-size: 24pt;
  margin: 0 0 1em -2rem;
  text-shadow: 0px 1px 0px white;
}

p {
  line-height: 1.5em;
  word-break: hyphenate;
  margin: 0 0 1em -2rem;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

a {
  color: #4A57B6;
}

a:visisted {
  color: #4E1191;
}